dl {
    margin: 2em 1em;
}

dt {
    color: darkgrey;
}

dd {
    background-color: lightblue;
    color: white;
    padding: 1em;
    letter-spacing: .1em;
}

dd:hover {
    color: lightblue;
    background-color: white;
}