html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }
    
}

@media only screen and (min-width: 90em) {
    
    html {
        font-size: 120%;
    }
    
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%;
    }  
}

body {
    padding: 0 1em;
}

h1 {
    text-align: center;
    font-family: serif;
}

dl {
    margin: 2em 0 3em 0;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 2px solid lightblue;
    border-radius: 50px/20px;
}

dl dt {
    color: darkgrey;
    padding: 1em;
    float: left;
    width: 8.5em;
    border-right: 2px solid lightblue;
    text-align: right;
    font-size: .8em;
    clear: left;
    background-color: #eaf6f7;
}

dl dd {
    padding: .7em;
    margin: 0;
    text-align: left;
    width: auto;
    float: left;
}

dd:first-of-type {
    font-weight: bold;
    text-transform: uppercase;
}

@media only screen and (min-width: 30em) {
    
    dl {
        width: 21em;
    }

}